.container {
  max-width: 500px;
  margin: auto;
  padding: 20px;
  background-color: #f2f2f2;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  font-family: Arial, sans-serif;
  font-size: 2em;
  margin-bottom: 1em;
  text-align: center;
  color: #333;
}

p {
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
  color: #333;
}

form div {
  display: flex;
  flex-direction: column;
}

label {
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

input[type="number"] {
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #008CBA;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #0000FF;
}

#result {
  margin-top: 1em;
  font-family: Arial, sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
}

.underweight {
  color: blue;
}

.normal {
  color: green;
}

.overweight {
  color: orange;
}

.obesity {
  color: red;
}
